body {
	//width: 1000px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Arial, Times, serif;
}
p {
	margin-top: 2px;
	
}
.logo {
	width: 86px;
	height: 86px;
	float: left;
}

.logo img {
	margin: 0 0;
	float: left;
	width: 100%;
	height: auto;
}


.text {
	//width: 800px;
	//float: left;
	margin: auto;
}
h1 {
	text-align: center;
	font-size: 30px;
	color: white;

}

header {
	width: 100%;
	height: 86px;
	position: sticky;
	top: 0;
	background: #d92e1f;
	z-index: 1;
}


ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
nav {
	position: sticky;
	top: 86px;
	width: 100%;
	background: lightgray;
	z-index: 1;
}
nav li:hover {
	background: #778899;
}
nav #first_ul {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 12px 10px;
	display: block;
	cursor: pointer;

}
nav #second_ul {
	display: none;
	width: 200px;
	position: absolute;
	top: 38px;
	left: 0;
	background: lightgray;
}
nav #first_ul .dropdown {
	position: relative;
}

nav #first_ul .dropdown:hover #second_ul {
	display: block;
}

nav #second_ul a {
	padding: 6px 10px;
	border-bottom: 1px solid black;
}
main {
	
	//margin-top: 124px;
}
section {
	
	padding: 20px;
	margin-left: 4px;
	text-align: justify;
	line-height: 120%;
	width: 100%;
	
}
section img:hover {
	opacity: .5;

}

.img_right {
	float: right;
	margin-left: 15px;
}

.img_left {
	float: left;
	margin-right: 15px;
}

img {
	width: 300px;
	margin: 0 10px;
}
.olimpjakos {
	text-decoration: none;
	font-weight: bold;
}

aside {
	text-align: center;
	width: 100%;
	padding-top: 25px;
	background: #e6f2ff;	
}

aside h3 {
	margin-left: 16px;
}
aside a {
	border-radius: 5px;
	background: lightgray;
	display: block;
	color: black;
	text-decoration: none;
	display: block;
	padding: 4px 1px;
	margin: 14px 10px 0 10px;
}

footer {
	height: 45px;
	width: 100%;
	background: darkgray;
	position: sticky;
	bottom: 0;
	padding: 0;
}
footer div {
	display: flex;
	flex-direction: column;
}
footer a {
	margin-top: 4px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding: 0 20px;
}
.footerfudbal {
	float: left;

}
.footerkosarka {
	float: right;
}

@media only screen and (min-width: 600px) {
		nav #first_ul {
			display: flex;
			flex-direction: row;
		}
	}
@media only screen and (min-width: 800px) {
		main {
			display: flex;
			flex-direction: row;
		}
		aside {
			flex: 0 0 200px;
		}
	}
