<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <figure class="card">
                <div class="card__hero">
                    <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card__img">
                </div>
                <h2 class="card__name">{%PRODUCTNAME%}</h2>
                <p class="card__detail"><span class="emoji-left">💊</span> {%VITAMINS%}</p>
                <p class="card__detail"><span class="emoji-left"></span> {%ORIGINCOUNTRY%}</p>
                <div class="card__footer">
                    <p class="card__price">$1.5</p>
                    <a href="/fruits?id={%ID%}" class="card__link">Order your tasty fruits <span class="emoji-right">👉</span></a>
                </div>
            </figure>
</body>
</html>