/* From big tablets to 1200px(width smaller than the 1140px row*/
@media only screen and (max-width:1200px) {
    row { padding: 0 2%; }

    .image-text-box {
        width: 100%;
        padding: 0 2%;
    }
}

/* From small tablets to big tablets, from 768px to 1023px*/
@media only screen and (max-width:1023px) {
    body { font-size: 18px }
    section { padding: 60px 0;}

    .about {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }

    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 100%; }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-price { font-size: 250%; }
    .contact-form { width: 90%; }

}

/* Small phones to small tablets, from 481px to 767px */
@media only screen and (max-width:767px) {
    body { font-size: 16px; }
    section { padding: 30px 0}

    .row,
    .image-text-box {
        padding: 0 5%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav { display: none; }
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .about {
        width: 100%;
        margin-left: 0%;
    }

    .box-steps {
       font-size: 100%;
    }

    .works-step { 
        font-size: 100%;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
     }

    .works-step:last-of-type { margin-bottom: 20px; }

    .span-2-of-3,
    h3,
    .icon-big,
    .city-feature,
    .plan-box,
    cite { text-align: center; }

    footer { padding: 0}

    .footer-nav { display: none; }

    .social-icons { 
        text-align: center;
        float: none
    }

}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0 }
    .contact-form { width: 100%; }
}
