/* 
Orange color: #e67e22
*/

/* ------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2, 
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.about {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /* Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: color 2s, border-bottom 2s;
    transition: color 2s, border-bottom 2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    text-align: center;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: white;
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #64350b;
    border: 2px solid #64350b;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #64350b;
    border: 2px solid #64350b;
    color: white;
}

/* ------------------------------------*/
/* HEADER */
/* ------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/anise-aroma-art-277253\ \(1\).jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/anise-aroma-art-277253\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.image-text-box {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
}

.logo {
    height: 150px;
    width: auto;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 74px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 2s;
    transition: border-bottom 2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ------------------------------------*/
/* FEATURES */
/* ------------------------------------*/

.section-features .about {
    margin-bottom: 30px;
}
/* ------------------------------------*/
/* MEALS */
/* ------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    margin: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

/* ------------------------------------*/
/* HOW IT WORKS */
/* ------------------------------------*/

.section-steps {
    /*background-color: #d3c6c6;*/
    background-color: #e3e3e3;
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-top: 40px;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 45%;
}

.box-steps {
    margin-bottom: 10px;
}

.box-steps:last-of-type {
    margin-bottom: 15px;
}

.works-step {
    color: #64350b;
    border: 2px solid #64350b;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 150px;
    width: auto;
    margin-right: 10px
}

/* ------------------------------------*/
/* CITIES */
/* ------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* ------------------------------------*/
/* TESTIMONIALS */
/* ------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/asia-plate.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/asia-plate.jpg);
    background-size: cover;
    color: white;
    position: center;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: relative;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle
}

/* ------------------------------------*/
/* SIGN UP  */
/* ------------------------------------*/

.section-plans {
    /*background-color: #f4f4f4;*/
    background-color: #e3e3e3;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5px;
    /*box-shadow: 0 2px 2px #efefef;*/
    -webkit-box-shadow: 0 2px 2px #cca6a6 ;
            box-shadow: 0 2px 2px #cca6a6 ;
}

.plan-box div {
    padding: 15px;
    border: 1px solid #f4f4f4;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-message {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* ------------------------------------*/
/* FORM  */
/* ------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ------------------------------------*/
/* FOOTER  */
/* ------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-icons li a:hover,
.social-icons li a:active {
    font-size: 180%;
}

.ion-ios-email,
.ion-social-linkedin,
.ion-social-github {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-ios-email:hover {
    color: #dd4b39;
}

.ion-social-linkedin:hover {
    color: #007bb5;
}

.ion-social-github:hover {
    color: #000000;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
}

