@media only screen and (max-width: 1950px) {
  div.content {
    width: 800px;
  }
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

h2 {
  font-family: Impact, Charcoal, sans-serif;
}

.content {
  margin: 10px;
  border: 2px dashed lightgray;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

form {
  padding: 20px;
}

#input {
  margin: 10px 0;
  padding: 10px;
  width: 96%;
  border: none;
  border-bottom: 2px solid red;
}

h2 {
  text-align: center;
}
.button {
  background-color: #f7383f;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  border: black;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
}

#filter {
  margin: 10px 0;
  padding: 10px 10px;
  width: 96%;
  border: none;
  border-bottom: 2px solid red;
}

#clear {
  background-color: #f7383f;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  border: black;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 10px 0;
}

.oneNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .10px 5px;
  font-size: 1em;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  user-select: none;
}

.oneNote:last-child {
  border-bottom: 2px solid lightgray;
}

clearButton {
  margin-left: 5px;
  color: red;
}

p {
  display: inline-block;
  overflow: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 80px;
}