body {
    background: rgb(139, 206, 133);
    background: url("https://i.pinimg.com/236x/ab/66/8f/ab668f583d66ee0baa78707037323031--power-point-templates-ppt-presentation.jpg") no-repeat 
    center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow-y: scroll;
    background: #f7eed4;
  
}
#header {
   width:1500px;
   height: 350px;
    
}
#header-img {
    border-radius: 50%;
   float: left;
   width: 200px;
   height: auto;
}
h1 {
    float: right;
    font-size: 60px;
    font-family: cursive;
    margin: 0;
    margin-top:50px;
    margin-bottom:100px;
    font-family: 'Fredoka One', cursive;
    margin-right: 40px;
   
}
p {
text-align: center;
margin: 0;
margin-right: 250px;
font-size: 30px;
}
ul {
    margin-left: 440px;
   
}
li {
   
    display: inline;
    font-size: 30px;
    padding:40px;
    text-align: center;  
}
#honey {
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 50px;
}
.nav-link:link, .nav-link:visited {
    background-color: #f4a236;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.nav-link:hover, .nav-link:hover:active {
    background-color: rgb(231, 148, 80);
}
h2 {
    text-align: center;
    margin-right:90px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1380px;
}

td, th {
    border: 1px solid #f7eed4 ;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fdf474;
}
#jams {
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 60px;
}
#juices {
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 60px;
}
#buying {
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 60px;
}
#submit {
    font-size:30px;
    margin-left: 550px;
    height: 60px;
    min-width: 250px;
    border-radius: 20%;
    background-image: linear-gradient( orange, yellow, orange);
    font-family: 'Baloo Tammudu', cursive;
    display: flex;
    text-align: center;
}
#nav-bar {
  
  background: rgb(245, 196, 196);
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #f7eed4;
}
#vid {
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive; 
}
@media only screen and (max-width: 600px) {
    #nav-bar {
        background-color: lightblue;
    }
}
#video {
    margin-left: 475px;
}
a:link, a:visited {
    font-weight: 600;
    color: rgb(86, 58, 248);
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}


a:hover, a:active {
    font-weight: 600;
    color: rgb(86, 58, 248); 
    text-align: center;
    text-decoration: none;
    display: inline-block;  
}
footer {
    font-size: 18px;
    background: #f4a236
}

h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 40px;
    margin-left: 485px;
    padding-top: 20px;
}
#signature {
    font-family: 'Sacramento', cursive;
   margin-left: 60px;
    font-size: 40px;
}
.contact {
    padding: 10px;
}







    
