/**== CSS for the blog page template ==**/
.kt-blog-post{
    margin:0 0 50px 0;
}
.kt-blog-post.inverted > .kt-blog-list-body a,
.kt-blog-post.inverted > .kt-blog-list-body i{
    color:#ffffff !important;
}
.kt-blog-post.inverted > .kt-blog-list-body > .blog-list-read-more{
    border:1px solid #ffffff;
}
.kt-blog-post-image{
    position:relative;
}

.kt-blog-list-body{
    font-size:16px;
    margin-top:10px;
    margin-bottom:20px;

}
.kt-blog-list-body h2{
    margin:5px 0;
    font-size:42px;
    font-weight:100;
    font-family: "Lato Black";
}
.gallery-format-slider{
    padding:0;
}
.gallery-format-slider .owl-wrapper-outer{
    max-height:350px;
}
.blog-list-meta{
    color:#7f7f7f;
    font-size:15px;
    margin:15px 0 30px 0;
    padding:0px !important;
}
.blog-list-meta p{
    margin:3px 0 !important;
}
.blog-list-meta a{
    font-size:15px;
    font-family: "Lato Light";
    color:#7f7f7f;
}
.blog-list-meta a:hover{
    color:#000000 !important;
}
.blog-list-meta i{
    color:#afafaf;
}
.blog-list-meta a:hover > i{
    color:#afafaf;
}
.blog-list-meta > .kt-post-meta-body{
    color:#afafaf;
}
.blog-list-meta .kt-post-meta-body i.fa.fa-tags{
    margin:0 5px 0 0;
    color:#afafaf;
}
.blog-list-read-more{
    margin:36px 0 42px 0;
    display: block;
    font-family: "Lato Black";
}
.blog-list-read-more:hover{
    color:#000000;
}
.no-thumb-meta{
    position:absolute;
    bottom:10px;
}
.blog-list-categories i{
    color:#7f7f7f;
    font-size:14px;
    margin-right:8px;
}
.blog-list-categories a{
    padding:2px 8px;
    font-size:14px;
    background:#e1e1e1;
    color:#7f7f7f;
    font-family:"Lato Regular";
    border:2px solid #e1e1e1;
    margin: 0 10px 0 0;
}
.blog-list-categories a:hover{
   border:3px double #7f7f7f;
}