body {
	background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/11/21/115990ff0a5450e.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y: scroll;
	font-family: Arial;
  }
  
  #user-image {
	border-radius: 50%;
  }
  
  .title {
	font-size: 77px;
	float: left;
	margin-left: 250px;
	font-family: 'Baloo Bhai', cursive;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	letter-spacing: 30px;
  }
  
  header {
	color: black;
	padding: 20px;
	height: 100px;
  }
  
  #login {
	float: right;
	margin-right: 20px;
  }
  
  #error {
	height: 15px;
	font-size: 10px;
  }
  
  #usernamelog {
	background: #c99ddb;
	border: 5px solid white;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
	padding: 12px;
	margin-top: 16px;
  }
  
  #passwordlog {
	border: 5px solid white;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.5);
	padding: 12px;
	margin-top: 16px;
  }
  
  #usernamelog:hover {
	background: rgb(247, 105, 228);
	border: 5px solid black;
  }
  
  #passwordlog:hover {
	background: rgb(247, 105, 228);
	border: 5px solid black;
  }
  
  #submit {
	font-size: 20px;
	font-weight: bolder;
	border-radius: 20px;
	border: 5px solid white;
	width: 150px;
	height: 53px;
	font-family: 'Baloo Bhai', cursive;
  }
  
  #submit:hover {
	border: 5px solid black;
	background: rgb(247, 105, 228);
  }
  
  .formmm {
	margin-left: 310px;
	font-family: 'Pacifico', cursive;
	font-size: 1em;
  }
  
  #signupForm label {
	width: 100px;
	display: inline-block;
  }
  
  #titleSignup {
	margin-left: 200px;
  }
  
  #navbar {
	margin-left: 580px;
  }
  
  #navbar a {
	color: rgb(230, 34, 164);
	text-decoration: none;
	font-size: 2em;
	padding: 30px;
  }
  
  #navbar a:hover {
	color:purple;
	font-weight: bolder;
  }
  
  .error-msg {
	background: #ff6a30;
	padding: 10px;
	border-radius: 5px;
	color: #fdf0e7;
	font-size: 12px;
  }
  
  .success-msg {
	background: #47b947;
	padding: 10px;
	border-radius: 5px;
	color: #eaecea;
	font-size: 12px;
  }
  
  .feed-body img {
	max-width: 800px;
  }
  
  .new-feed,
  #feed-list {
	margin-top: 50px;
	padding-left: 20px;
	margin-bottom: 20px;
  }
  
  .add-feed {
	width: 250px;
	margin-left: 600px;
  }
  
  #successlog,
  #errorslog {
	margin-bottom: 20px;
  }
  
  .feed-author img {
	width: 50px;
	height: auto;
	margin-bottom: 5px;
  }
  
  .feed-content {
	background-image: url("https://media.istockphoto.com/photos/valentine-day-holiday-background-illustration-picture-id622066398?k=6&m=622066398&s=612x612&w=0&h=qtAvxffZiTaKdt23x-7ODW1YTWDAgqEtjbQjxEwuOow=");
	background-size: cover;
	padding: 10px;
	border: 1px solid #e2dede;
	margin-bottom: 10px;
	width: 800px;
	margin-left: 300px;
  }
  
  .feed-author a {
	display: block;
  }
  
  .feed-author {
	width: 150px;
	float: left;
  }
  
  .created {
	float: right;
  }
  
  .feed-body {
	display: inline-block;
	width: calc(100% - 200px);
  }
  
  #image-container {
	width: 40%;
	height: 400px;
	float: left;
	background-image: url("https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962__340.jpg");
	padding: 20px;
	background-size: cover;
	margin-left: 20px;
	margin-bottom: 100px;
  }
  
  #comments {
	margin-bottom: 20px;
	height: 400px;
	overflow-y: scroll;
  }
  
  #image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: auto;
  }
  
  #image-comments-container {
	width: 40%;
	height: 400px;
	background-image: url("https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962__340.jpg");
	padding: 20px;
	background-size: cover;
	padding: 20px;
	float: right;
	margin-left: 20px;
  }
  
  .comment-author-image {
	width: 100px;
	height: auto;
	margin-right: 10px;
  }
  
  .comment-datetime {
	font-size: 11px;
	margin: 0 0 30px;
  }
  
  .comment-author-name {
	font-size: 12px;
  }
  
  #login {
	float: right;
  }
  
  #titletext {
	font-size: 2em;
  }
  
  #titleSignup {
	font-size: 2.5em;
	margin-left: 310px;
	font-family: 'Indie Flower', cursive;
	text-shadow: 0 0 3px rgb(81, 255, 0), 0 0 5px rgb(190, 190, 241);
  }
  
  #username {
	background-color: rgb(221, 178, 221);
	color: rgb(15, 13, 14);
	display: inline;
	padding: 0.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-family: 'Uncial Antiqua', cursive;
	margin-left: 30px;
  }
  
  .sty {
	background-color: rgb(221, 178, 221);
	color: rgb(15, 13, 14);
	display: inline;
	padding: 0.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-family: 'Uncial Antiqua', cursive;
	margin-left: 30px;
  }
  
  .button {
	background-color: #4CAF50;
	border: none;
	color: black;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
	background-image: linear-gradient(white, pink, purple);
  }
  
  #user-image {
	margin-bottom: 1200px;
	margin-left: 1125px;
  }
  
  .feed-author {
	font-family: 'Jua', sans-serif;
  }
  
  .created {
	font-family: 'Jua', sans-serif;
  }
  
  .content {
	padding: 20px;
	margin-top: 100px;
  }
  
  .feed-body img {
	width: 200px;
	height: auto;
	margin-left: 150px;
  }
  
  .add-comment {
	margin-left: 100px;
	margin-top: 20px;
  }
  
  #user-image img {
	width: 135px;
	height: auto;
  }
  
  #submit-signup {
	font-size: 20px;
	font-weight: bolder;
	border-radius: 20px;
	border: 5px solid white;
	width: 150px;
	height: 53px;
	font-family: 'Baloo Bhai', cursive;
	margin-left: 150px;
  }
  
  #submit-signup:hover {
	border: 5px solid black;
	background: rgb(221, 178, 221);
  }
  
  #new-comment {
	margin-top: 50px;
	margin-left: 50px;
  }
  
 
hr.style-eight {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-eight {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}